:root {
   /* FONTS */
   --font-Montserrat: 'Montserrat', sans-serif;
   --font-Inconsolata: 'Inconsolata', monospace;
   --font-light: 400;
   --font-bold: 600;

   /* COLORS */
   --off-black: #020912;
   --off-white: #F5F3F8;
   --light-purple: #A4A1FF;

   /* Pixels */
   --px-20: 1.25rem;
}

.nav-bar{
   background-color: transparent;
}

.navbar .container-fluid{
   justify-content: end;
}

/* Nav button */
.navbar-btn{
   background-color: transparent;
   border: 2px solid var(--off-white);
   border-radius: 5px;
}

.bi-list{
   color: var(--off-white);
}

/* Navbar Links */
.navbar-collapse{
   z-index: 100;
   position: absolute;
   top: 52px;
   background: var(--off-black);
   width: 100%;
   right: 0;
   padding-right: var(--px-20);
}

.nav-link{
   font-family: var(--font-Montserrat);
   font-weight: var(--font-light);
   color: var(--off-white);
   text-align: end;
}

.nav-link:hover{
   font-weight: var(--font-bold);
   color: var(--light-purple);
}