:root {
  /* FONTS */
  --font-Neuton: "Neuton", serif;
  --font-Marker: "Permanent Marker", cursive;
  --font-Montserrat: "Montserrat", sans-serif;

  /* COLORS */
  --off-black: #252329;
  --off-white: #ebebeb;
  --light-purple: #87a1ff;
  --grey: #c7c7c7;

  /* SIZES */
  --body-size: 1.125rem; /* 18px */
  --section-title: 2.25rem; /* 36px */
  --px-5: 0.3125rem;
}

/* General classes */
body {
  background-color: var(--off-black);
  color: var(--off-white);
  font-family: var(--font-Neuton);
  font-size: var(--body-size);
}

a {
  text-decoration: none;
}

.padding-70 {
  padding-top: 4.375rem;
}

/* Text */
.section-title {
  font-family: var(--font-Marker);
  font-size: var(--section-title);
  margin-bottom: 1.25rem;
}

.purple {
  color: var(--light-purple);
}

.hide{
  visibility: hidden;
  opacity: 0;
  height: 0;
}

/* Profile */
.profile-container {
  min-height: 100vh;
}

.title-container {
  position: absolute;
  top: 30%;
  letter-spacing: 0.1rem;
}

.title-container h1 {
  font-family: var(--font-Marker);
  font-size: 4.375rem;
  letter-spacing: 0;
}

.title-container span {
  font-family: var(--font-Neuton);
  font-size: 1.5625rem;
  letter-spacing: 0.1rem;
}

.title-container p {
  width: 60%;
  font-size: var(--body-size);
  font-family: var(--font-Montserrat);
  color: var(--grey);
}

/* ABOUT */
#about {
  padding-top: 2rem;
}

.grid-container {
  display: grid;
  justify-content: center;
  column-gap: 2.25rem;
  grid-template-columns: 25% 25%;
  align-items: center;
}

.about-info p {
  font-family: var(--font-Montserrat);
}

.about-img {
  text-align: center;
}

.about-img img {
  width: 18.75rem;
  padding: 0.625rem;
  border-radius: 0.625rem;
  border: var(--px-5) solid var(--off-white);
}

/* Timeline */
.side-menu_container {
  display: flex;
}

.side-menu_buttons {
  width: 55%;
  display: flex;
  flex-direction: column;
}

.side-menu_btn {
  padding: 0.75rem 1.625rem;
  font-size: 1.375rem;
  text-align: start;
  background-color: transparent;
  color: var(--grey);
  border: none;
}

.side-menu_btn[aria-expanded="true"] {
  box-shadow: var(--px-5) 0 var(--light-purple);
  color: var(--off-white);
}

.side-menu_modals {
  padding-left: 3.125rem;
}

.side-menu_modal h3 {
  letter-spacing: 2px;
}

.side-menu_modal p {
  font-family: var(--font-Montserrat);
}

.side-menu_modal .subtitle {
  font-size: 0.875rem;
}

.fade-in {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(10vh);
  transform: translateY(10vh);
  transition: opacity .6s ease-out,-webkit-transform 1s ease-out;
  transition: opacity .6s ease-out,transform 1s ease-out;
  transition: opacity .6s ease-out,transform 1s ease-out,-webkit-transform 1s ease-out;
}

.fade-in.show {
  opacity: 1;
  visibility: visible;
  transform: none;
  -webkit-transform: none;
}

/* Contact */
.contact-container{
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}

.contact-link{
  padding: 1.25rem;
  border: var(--px-5) solid var(--off-white);
}

.contact-link:hover{
  background-color: var(--light-purple);
  border: var(--px-5) solid var(--off-black);
}

.contact-link:hover .bi{
  color: var(--off-black);
}

.contact-link .bi{
  display: contents;  
  font-size: 2.5rem;
  color: var(--off-white);  
}

/* Footer */
.footer-container{
  display: grid;
  justify-content: center;
  justify-items: center;
  font-family: var(--font-Montserrat);
  font-size: 0.875rem;
  color: #59575b;
}