:root {
	/* FONTS */
	--font-Neuton: "Neuton", serif;
	--font-Marker: "Permanent Marker", cursive;
   --font-Montserrat: 'Montserrat', sans-serif;

	/* COLORS */
	--off-black: #1e1e1e;
	--off-white: #ebebeb;
	--light-purple: #87a1ff;
	/* OLD */
	--dark-purple: #7e7cc4;

	/* SIZES */
	--body-size: 1.125rem; /* 18px */
   --section-title: 2.25rem; /* 36px */
	/* OLD */
	--card-title: 1.5rem; /* 24px */
	--card-body: 1rem; /* 16px */
	--card-subtitle: 0.875rem; /* 14px */
}

/* General classes */
body {
	background-color: var(--off-black);
	color: var(--off-white);
	font-family: var(--font-Neuton);
	font-size: var(--body-size);
}

a {
	text-decoration: none;
}

.padding-70{
   padding-top: 4.375rem;
}

/* Text */
.section-title {
	font-family: var(--font-Marker);
   font-size: var(--section-title);
   margin-bottom: 1.25rem;
}

.contact-txt {
	font-size: var(--card-title);
}

.footer-subtitle {
	font-size: var(--card-subtitle);
	color: #6e6e6e;
}

/* Profile */
.profile-container {
	min-height: 100vh;
}

.title-container {
	position: absolute;
	top: 30%;
	font-size: 2rem;
	letter-spacing: 0.1rem;
}

.title-container h1 {
	font-family: var(--font-Marker);
	font-size: 4.375rem;
	letter-spacing: 0;
}

.title-container span {
	font-family: var(--font-Neuton);
	font-size: 1.5625rem;
	color: var(--light-purple);
	letter-spacing: 0.1rem;
}

/* ABOUT */
#about {
	padding-top: 3.5rem;
}

.grid-container {
	display: grid;
	justify-content: center;
	column-gap: 2.25rem;
	grid-template-columns: 25% 25%;
}

.about-info p{
   font-family: var(--font-Montserrat);
}

.about-info p span{
   color: var(--light-purple);
}

/* Timeline */
#timeline .section-title{
   text-align: center;
}

.cs-button{
   width: 50%;
   padding: 12px 0;
   font-family: var(--font-Neuton);
   font-size: 1.5625rem;
   border: 3px solid var(--off-white);
   border-radius: 5px;
   text-align: center;
}

.cs-button_sub-label{
   font-size: 1.25rem;
}

/* Vertical line */
#timeline .container {
	position: relative;
	margin-top: 2.75rem;
}

#timeline .container::before {
	content: "";
	border-left: 4px solid var(--light-purple);
	border-radius: 10px;
	height: 100%;
	position: absolute;
	left: 50%;
	margin-bottom: 20px;
}

/* Timeline bullets */
.card-align-right::before,
.card-align-left::before {
	content: "";
	position: absolute;
	width: 26px;
	height: 26px;
	left: 50%;
	transform: translate(-45%);
	background-color: var(--light-purple);
	border-radius: 50%;
}

/* Links */
.gap-small {
	gap: 1.75rem;
}

.gap-large {
	gap: 3.75rem;
}

.social-link {
	font-size: 1.75rem;
}

.icon-xl {
	font-size: 3.5rem;
}

.social-light {
	color: var(--off-white);
}

.social-light:hover {
	color: var(--light-purple);
}

.contact-link:hover .icon-xl {
	color: var(--off-white);
}
