:root {
  /* FONTS */
  --font-Neuton: "Neuton", serif;
  --font-Marker: "Permanent Marker", cursive;

  /* COLORS */
  --off-white: #ebebeb;
  --light-purple: #87a1ff;
}

/* Nav Bar */
@media screen and (min-width: 768px) {
}

/* Tablet */
@media screen and (max-width: 1199px) {
   
}

/* Mobile */
@media screen and (max-width: 767px) {
   
}
